<h1 class="heading"> Colin Vickers - Photos since 2016</h1>
<ul class="list-group">
    <!-- First Info Display -->
    <li class="list-group-item" id="item">
        <div id="display">
            <div>
                <img id="img1" src="https://img.freepik.com/fotos-kostenlos/portrait-des-weissen-mannes-getrennt_53876-40306.jpg?w=1480&t=st=1677505539~exp=1677506139~hmac=ca5496cb8080b3fde54d0c890cce1a01700f46d7d8ffc5382122b96faaa871a4" alt="">
            </div>
            <div>
                <h4 id="heading1"> Our Ristorante existing since 1999</h4>
                <p> We are a Family Buisness existing since 1999. This restaurant is in our Family since 2 Gernations. We extremly value the
                </p>
                <ul>
                    <li> The well being of our guests</li>
                    <li> The Quality of our food</li>
                    <li> A good atmosphere where everyone is comfortable</li>
                </ul>
                <p> If you will visit us on our Location we and our will staff will welcome you and do our best to make you have the best experience possible. </p>
                <p style="text-align: center;"><i class="fa-solid fa-star" style="color:#FFC300;"></i><i class="fa-solid fa-star" style="color:#FFC300;"></i><i class="fa-solid fa-star" style="color:#FFC300;"></i><i class="fa-solid fa-star" style="color:#FFC300;"></i><i class="fa-solid fa-star"
                        style="color:#FFC300;"></i></p>
                <h5 style="text-align: center;"> 5 Stars since 2011</h5>
            </div>
        </div>
    </li>
    <!-- Second Info Display -->
    <li class="list-group-item " id="item2">
        <h1 class="heading "> Why Choose Us</h1>
        <div class="row row-cols-lg-3 row-cols-xl-3 row-cols-md-3 row-cols-sm-1 row-cols-xs-1 ">
            <div class="griditem ">
                <div class="itemcontent ">
                    <h4> Fresh and healty Food</h4>
                    <p> Our food is fresh and healty. Only best ingredients from all over the world prepared from our 4 Star Premium Chefs. </p>
                </div>
            </div>
            <div class="griditem ">
                <div class="itemcontent ">
                    <h4> Fast and secure Delivery</h4>
                    <p> We deliver Food super fast and secure. If your food isnt at your home after 30 Minutes you get a moneyback Guarantee.</p>
                </div>
            </div>
            <div class="griditem ">
                <div class="itemcontent ">
                    <h4> 100% of on your first Purchase</h4>
                    <p> For our new Customers we may introduce you our special Service. 100% off your first order and Premium Membership for 30 days. </p>
                </div>
            </div>
        </div>
    </li>
    <!-- Third Info Display -->
    <li class="list-group-item" id="item3">
        <h1 class="heading"> Check our Specials</h1>
        <div id="display2">
            <div>
                <h4 style="text-align: center;"> Pizza Capricciosa </h4>
                <p> Our Spciality is our Pizza Capricciosa. With all the best ingredients flown in fresh from Italy.</p>
                <ul>
                    <li> Mozzarella Cheese</li>
                    <li> Italian Baked Ham</li>
                    <li> Mushroom</li>
                    <li> Artichoke and Tomatos</li>
                </ul>
                <br>
                <span>
                    <span> Get our Special now: </span>
                <button routerLink="/menu/1" class="btn btn-outline-danger"> Get Special</button>
                </span>
            </div>
            <div>
                <img id="img2" src="https://cdn.tasteatlas.com/images/dishes/6b28b438a3b64a7e9fca9081c89f07ff.jpg" alt="">
            </div>
        </div>
    </li>
</ul>