<h1 class="heading"> Colin Vickers - Photos since 2016</h1>
<ul class="list-group">
    <!-- First Info Display -->
    <li class="list-group-item" id="item">
        <div class="container p-3">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <img id="picture1" src="https://img.freepik.com/fotos-kostenlos/portrait-des-weissen-mannes-getrennt_53876-40306.jpg?w=1480&t=st=1677505539~exp=1677506139~hmac=ca5496cb8080b3fde54d0c890cce1a01700f46d7d8ffc5382122b96faaa871a4" alt="responsive webite" class="img-fluid">
                </div>
                <div class="col-xl-6 col-lg-6" id="text1">
                    <h4 id="heading1"> Good Photos for almost 7 years</h4>
                    <p> We are a small Buisness existing since 2016. We mostly take smaller assignements in Vienna and surroundings. What we value in our projects:
                    </p>
                    <ul>
                        <li>Great Quality of our Photos</li>
                        <li>Taking care of good illumination and sharp images</li>
                        <li>Punctual and proper completion of our orders</li>
                    </ul>
                    <p> Colin Vickers has a <b>bachelor of arts </b> from the university of art from Vienna. He has more than <b>20 years of experience </b> in Photography and imgage editing</p>
                    <p> If we have caught your interest, please contact us through our website or via email. </p>
                    <p style="text-align: center;"><i class="fa-solid fa-star" style="color:#FFC300;"></i><i class="fa-solid fa-star" style="color:#FFC300;"></i><i class="fa-solid fa-star" style="color:#FFC300;"></i><i class="fa-solid fa-star" style="color:#FFC300;"></i><i class="fa-solid fa-star"
                            style="color:#FFC300;"></i></p>
                    <h5 style="text-align: center;"> 5 Stars since 2020</h5>
                </div>
            </div>
        </div>
    </li>
    <!-- Second Info Display -->
    <li class="list-group-item " id="item2">
        <h1 class="headingalt"> Why Choose Us</h1>
        <div class="row row-cols-lg-3 row-cols-xl-3 row-cols-md-3 row-cols-sm-1 row-cols-xs-1 ">
            <div class="griditem ">
                <div class="itemcontent">
                    <p><i class="fa-solid fa-camera" style="font-size: 8.5vh;"></i></p>
                    <h4> Good Quality Photos</h4>
                    <p> Our photos are made with professional equipment and a trained Photographer with at least 10 Years of experience. </p>
                </div>
            </div>
            <div class="griditem ">
                <div class="itemcontent ">
                    <p><i class="fa-solid fa-stopwatch" style="font-size: 8.5vh;"></i></p>
                    <h4> Fast and reliable Delivery</h4>
                    <p> We deliver reliable and always on time. If your order isnt arriving in time or fullfilling your desires you have a 1 Week Money Back Guarantee.</p>
                </div>
            </div>
            <div class="griditem ">
                <div class="itemcontent">
                    <p><i class="fas fa-money-bill-alt" style="font-size: 8.5vh;"></i></p>
                    <h4> 30% of on your first Purchase</h4>
                    <p> For our new Customers we may introduce you our special Service. 30% off your first order and Premium Membership for 30 days. </p>
                </div>
            </div>
        </div>
    </li>
    <!-- Third Info Display -->
    <li class="list-group-item" id="item3">
        <h1 class="heading"> Most popular Service</h1>
        <div class="container p-3">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <img id="picture1" src="https://cdn.pixabay.com/photo/2016/11/22/19/05/couple-1850073_1280.jpg" alt="responsive webite" class="img-fluid">
                </div>
                <div class="col-xl-6 col-lg-6" id="text1">
                    <h4 style="text-align: center;"> Wedding Photography </h4>
                    <p> Our Spciality Wedding Photography. We can make your special Day even more special and the memories stay forever with you.
                    </p>
                    <ul>
                        <li> 100 edited Photos included in the price</li>
                        <li> We will accompany you the whole day</li>
                        <li> We bring our own Equipment</li>
                        <li> Optional: Photos already as photo album</li>
                    </ul>
                    <br>
                    <span>
                    <span> Get our Special now: </span>
                    <button routerLink="/portfolio" class="btn button"> Wedding Photography</button>
                    </span>
                </div>
            </div>
        </div>
    </li>
</ul>