.navbar {
    z-index: 1;
    width: 100%;
    color: white;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    outline: 0px solid #c94b4b;
    transition: all 0.4s
}

.nav-link:hover::after {
    width: 100%;
    outline: 1px solid #c94b4b;
}

.navbar-dark .navbar-nav #nav-link1:hover {
    color: rgb(255, 255, 255, 0.8) !important;
    background-color: rgba(160, 58, 77, 0.85);
    transition: 1s;
}

.navbar-dark .navbar-nav #nav-link2:hover {
    color: rgb(255, 255, 255, 0.8) !important;
    background-color: rgba(146, 51, 77, 0.85);
    transition: 1s;
}

.navbar-dark .navbar-nav #nav-link3:hover {
    color: rgb(255, 255, 255, 0.8) !important;
    background-color: rgba(130, 43, 78, 0.85);
    transition: 1s;
}

.navbar-dark .navbar-nav #nav-link4:hover {
    color: rgb(255, 255, 255, 0.8) !important;
    background-color: rgba(115, 36, 77, 0.85);
    transition: 1s;
}

.navbar-dark .navbar-nav #nav-link5:hover {
    color: rgb(255, 255, 255, 0.8) !important;
    background-color: rgba(106, 32, 78, 0.85);
    transition: 1s;
}

.navbar-dark .navbar-nav #nav-link6:hover {
    color: rgb(255, 255, 255, 0.8) !important;
    background-color: rgba(85, 23, 79, 0.85);
    transition: 1s;
}

.nav-link {
    transition: 0.2s;
    padding-left: 3vh;
    color: white !important;
    font-size: 1.8vh;
}

#linkcont {
    width: 50vh;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
}

#navbar {
    background: radial-gradient(circle, #c94b4b 0%, #4b134f 100%);
}

#cameraicon {
    margin-left: 4vh;
    margin-right: 3vh;
}

@media screen and (max-width: 1000px) {
    .nav-item {
        width: 30%;
    }
}