.row {
    display: flex;
    justify-content: center;
        font-family: Roboto ;
        position: relative ;
        width: 100% ;
        
        -webkit-background-size: cover ;
        -moz-background-size: cover ;
        -o-background-size: cover ;
        background-size: cover ;
       }
       div.container {
        position: relative ;
        width: 50% ;
        margin: auto ;
        margin-top: 60px ;
        border-radius: 10px ;
        background-color: #F2f2f2f2 ;
        padding: 10px ;
        opacity: 0.9  ;
    }
    h2 {
        text-transform: uppercase ;
        letter-spacing: 0.5px ;
        font-weight: 300 ;
       }
       input[ type=submit ]:hover {
        background-color: rgb(50,124,142);
        color: white;
       }
