<div class="container cont">
    <h1> What we offer</h1>
    <div class="row">
        <div *ngFor="let val of portpics, index as i" class="col-md-6 col-lg-4 col-xl-4 col-sm-12 col-xs-12 piccont">
            <img [swal]="showdetails" src="{{val.image}}" alt="" class="image btn">
            <div class="middle">
                <div [swal]="showdetails" class="text btn"> {{val.name}}</div>
                <swal #showdetails width="70%" title="{{ val.name }}?" confirmButtonText="Ok" imageUrl="{{val.image}}" imageWidth="80vh" html="<b>Price: {{val.price | currency:'€'}} </b><br> {{val.description}}"></swal>
            </div>
        </div>
    </div>
</div>