<div id="headcont">
<h1 id="heading">Our Customers Experiences</h1>
</div>

<div class="container cont1">


  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="cont">
        <div class="carousel-item" *ngFor="let val of testimonials; first as isFirst" [class.active]="isFirst">
          <img class="image1" src="{{val.image}}" alt="">
          <h6>{{val.fname}} {{val.lname}}</h6>
          <h6>{{val.company}} </h6>
          <p>{{val.date}}</p>
          <p id="comment">{{val.comment}} </p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>



