img {
    width: 100%;
    position: relative;
}

#textcont {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    color: white;
}

#textcont h1 {
    font-size: 5.5vh;
    font-family: 'Lobster', cursive;
    margin-bottom: 1.5vh;
}

.button {
    color: white;
    background: radial-gradient(circle, #c94b4b 0%, #4b134f 100%);
    mix-blend-mode: screen;
}

button:hover {
    color: #c94b4b;
    transition: 1.5s;
}