<div>
    <div class="total">
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" alt="">
        <div id="textcont">
            <h1 class="animate pop"> Dr. Colin Vickers - Fine Art Photography </h1>
            <h3 class="animate pop delay-1">Inspiring Phot<i class="fas fa-camera fa-1xl" style="margin: 0.5vh;"></i>graphy <br> Photos full of energy and passion </h3>
            <button routerLink="/about" class="btn me-4 mt-3 button animate pop delay-2"> About</button>
            <button routerLink="/portfolio" class="btn mt-3 button button animate pop delay-3"> Go to Portfolio</button>
        </div>
    </div>
</div>