<div>
    <div class="total">
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" alt="">
        <div id="textcont">
            <h1> Inspiring Phot<i class="fas fa-camera fa-1xl" style="margin: 0.5vh;"></i>graphy <br> Fotos full of Energy and Passion </h1>
            <h3> Dr. Colin Vickers - Fine Art Photography</h3>
            <button routerLink="/about" class="btn me-4 mt-3 button"> About</button>
            <button routerLink="/portfolio" class="btn mt-3 button"> Go to Portfolio</button>
        </div>
    </div>
</div>