img {
    width: 100%;
    position: relative;
}

#textcont {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    color: white;
     
        animation-duration: 1.7s;
        animation-name: animate-fade;
        animation-delay: 0.5s;
        animation-fill-mode: backwards;
      }
          
      @keyframes animate-fade {
          0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      
      .animate.pop {
        animation-name: animate-pop;
        animation-timing-function: cubic-bezier(.26,.53,.74,5.48);
      }
      
      @keyframes animate-pop {
        0% {
          opacity: 0;
          transform: scale(0.5, 0.5);
        }
              
        100% {
          opacity: 1;
          transform: scale(1, 1);
        }
      }
      
      
      .animate.pop.delay-1 {
        animation-delay: 3.6s;
      }
          
      .animate.pop.delay-2 {
        animation-delay: 6.2s;
      }
          
      .animate.pop.delay-3 {
        animation-delay: 8.5s;
      }
      
      
    

.total {
    position: relative;
}

#textcont h1 {
    font-size: 5.5vh;
    font-family: 'Lobster', cursive;
    margin-bottom: 1.5vh;
    display: inline-block;
}

.button {
    color: white;
    background-color: #c94b4b;
    margin-left: 1vh;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    color: #4b134f;
    background-color: #4b134f;
    box-shadow: 0px 15px 20px rgba(75, 19, 79, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

@media screen and (max-width: 870px) {
    #textcont h1 {
        font-size: 20px;
    }
    #textcont h3 {
        font-size: 18px;
    }
    #textcont {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: center;
        color: white;
    }
    .button {
        font-size: 15px;
    }
}

@media screen and (max-width: 576px) {
    #textcont h1 {
        font-size: 15px;
    }
    #textcont h3 {
        font-size: 12px;
    }
    #textcont {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: center;
        color: white;
    }
    .button {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    #textcont h1 {
        font-size: 12px;
    }
    #textcont h3 {
        font-size: 10px;
    }
    #textcont {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: center;
        color: white;
    }
    .button {
        font-size: 8px;
    }
}