<div class="container p-3">
    <div class="row">
        <div class="col-xl-6 col-lg-6 order-0">
            <img id="picture1" src="https://media.istockphoto.com/id/1347116065/de/foto/tagesablauf-im-b%C3%BCro.jpg?s=612x612&w=0&k=20&c=nI6qGflKM9gDGW75D-35orj-PeFWgG95h0ke63mowqY=" alt="responsive webite" class="img-fluid picture1">
        </div>
        <div class="col-xl-6 col-lg-6" id="text1">
            <div class="text-center w-100">
                <h1> Radnor Property Group</h1>
                <h3>Radnor Property Group is one of Pennyslvania's leading real estate development companies with a specialty in for formin public-private partnership (PPPs) with non-profit institutions. At that day we had the opportunity to meet the Company
                    and his workers!</h3>
            </div>
        </div>
    </div>
</div>
<div class="container p-3">
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <img id="picture1" src="https://media.istockphoto.com/id/687830672/de/foto/lehrer-mit-einer-gruppe-von-jungen-studenten-an-einer-tierfarm.jpg?s=612x612&w=0&k=20&c=LTa20tS7PZoG_VfdFGzmeaIym2ec94yrURvCnMqeFNg=" alt="responsive webite" class="img-fluid picture1">
        </div>
        <div class="col-xl-6 col-lg-6" id="text1">
            <div class="text-center w-100">
                <h1> Primary School Poppe</h1>
                <h3>The school trip from the school Poppe where the children learn to feed the goats. We aren't only focusing on companys also on our future, the Childrens of today.</h3>
            </div>
        </div>
    </div>
</div>
<div class="container p-3">
    <div class="row">
        <div class="col-xl-6 col-lg-6 order-0">
            <img id="picture1" src="https://media.istockphoto.com/id/1347769024/de/foto/sonnenuntergang-blick-%C3%BCber-das-meer-von-der-d%C3%BCne-in-zeeland.jpg?s=612x612&w=0&k=20&c=bUIGB2-f9p8pKAJqO9QLZ4pbsukWKgvxt0pqCyDIuPE=" alt="responsive webite" class="img-fluid picture1">
        </div>
        <div class="col-xl-6 col-lg-6" id="text1">
            <div class="text-center w-100">
                <h1> Nature</h1>
                <h3>The nature is beautiful right, we are living on this World but don't even know how beautiful it is. Sometimes we are deep in our thoughts and can't come up with a solution for everything but when we look at this sight we have a homely
                    feeling in our hearts!</h3>
            </div>
        </div>
    </div>
</div>